<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @congoer.description %>
</p>

<%= link_to 'Edit', edit_congoer_path(@congoer) %> |
<%= link_to 'New Congoer', new_congoer_path %> |
<%= link_to 'Back', congoers_path %>

